# Local scripts (php, py, sh)
source/Architecture/scripts/*.py
source/Architecture/scripts/*.sh
source/Architecture/scripts/*.php

**/__pycache__/*

build/*
!build/html/.gitkeep
!build/latex/.gitkeep


